@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");

.likescreen {
  position: absolute;
  width: 250px;
  top: 55px;
  left: -30px;
  background-color: rgb(230, 220, 220);
  z-index: 100;
}
.likescreen__data {
  display: flex;
  padding: 2px;
  line-height: 1;
}
.likescreen__name {
  position: relative;
  left: 10px;
  font-family: "Open Sans Condensed", sans-serif;
}
