@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");
.app {
  background-color: white;
  width: 900px;
  height: 900px;
  position: absolute;
  left: 225px;
}
.app__header {
  background-color: rgb(230, 220, 220);
}
.app__headerImage {
  border: 2px solid transparent;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: relative;
  left: 10px;
  top: 6px;
}
.app__input {
  width: 700px;
  height: 35px;
  border-radius: 50px;
  position: relative;
  top: -10px;
  left: 30px;
}
input {
  border: none;
  border-color: transparent;
  font-family: "Ubuntu", sans-serif;
  font-size: larger;
  padding: 5px;
  outline: none;
}

.app__searchIcon {
  position: relative;
  top: -10px;
  left: -15px;
}
.fa-heart {
  position: relative;
  top: -10px;
  left: 20px;
  font-size: larger;
  display: none;
}
.search__results {
  display: flex;
}
